@charset "UTF-8";
* { list-style : none; }
a { text-decoration: none;color : #000;}
.wrap { margin : auto; border : 1px splid #000; }

/* ==== 01. Header 영역 ==== */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height : 80px;
    padding : 25px 90px;
}
.header .left_header,
.header .right_header{
    display : flex;
}
.header .left_header .lh_logo,
.header .left_header .lh_list {
    display: flex;
}
.header .left_header .lh_logo {
    font-size : 20px;
    font-weight: bold;
    letter-spacing: 5px;
}
.header .left_header .lh_list,
.header .right_header li {
    margin-top : 6px;
    font-size: 14px;
}
.header .left_header .lh_list li {
    margin-left : 45px;
}
.header .right_header li {
    margin-right : 45px;
}
/* ==== section 영역 ==== */
.section {
    padding-top : 100px;
    padding-bottom : 100px;
    margin : auto;
    width : 80%;
}
.section .about_title {
	text-align :center;
	width : 100%;
	margin : auto;
}
.section .about_title img {
	width : 100%;
	height : 100%;
	margin-bottom : 150px;
}

/* === */

.section .about_intro {
	width : 100%;
	display : flex;
}
.section .about_intro .intro_img{
	width : 100%;
	text-align :center;
}
.section .about_intro .intro_img img {
	width : 761px;
	height : 507px;
}
.section .about_intro .intro_ctx {
	width : 100%;
	padding : 50px;
	text-align: center;
}

.section .about_intro .intro_ctx .ctx_title {
	width : 60%;
	margin : auto;
	border-bottom: 1px solid #000;
}
.section .about_intro .intro_ctx .ctx_intro {
	padding-top : 20px;
	margin : auto;
	width : 75%;
	letter-spacing: 1px;
	color : #808e9b;
	line-height: 30px;
}

/* ==== footer 영역 ==== */
.footer {
    padding : 10px 90px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(238, 238, 238);
    font-size: 11px;
}
.footer .link {
    padding-top: 10px;
    padding-bottom : 5px;
}
.footer .link a {
    margin-left : 10px;
    margin-right : 10px;
}
.footer .main {
    font-size: 13px;

}